* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.informacion, .about, .roadmap, .nft {
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 2px black; }

.subtitulo, h2 {
  font-family: Goth;
  font-size: 48px;
  text-align: center; }

.fondo, .about, .roadmap, .nft {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/IMAGENES/fondo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.containerg {
  margin-top: 91px;
  display: grid;
  grid-template-areas: "carousel carousel" "aboutimg about" "roadmap roadmapimg" "crew crew" "nftimg nft" "contact contact" "footer footer"; }

.toplogo {
  width: 75px;
  height: 75px; }

.headernav {
  grid-area: headernav;
  background-color: black; }

.nav-link {
  color: white; }

.carousel {
  grid-area: carousel; }

.texto-encima {
  position: absolute;
  font-size: 32px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-family: Goth;
  text-shadow: 2px 2px 2px white; }

.aboutimg {
  grid-area: aboutimg; }
  .aboutimg img {
    width: 100; }

.about {
  grid-area: about; }

.roadmap {
  grid-area: roadmap; }

.roadmapimg {
  grid-area: roadmapimg; }
  .roadmapimg img {
    width: 100; }

.crew {
  grid-area: crew;
  background-color: black;
  font-size: 24px;
  text-align: center; }

.nftimg {
  grid-area: nftimg; }
  .nftimg img {
    width: 100; }

.nft {
  grid-area: nft; }

.contact {
  grid-area: contact;
  color: white;
  background-color: black;
  align-items: center; }

form {
  font-size: 24px; }

form h1 {
  text-align: center; }

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  text-align: end; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative; }

.texto-interior1 h2 {
  text-shadow: 2px 2px 2px black; }

.texto-interior1 {
  background-color: transparent;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.parrafo1 {
  text-align: center; }

.texto-interior2 h2 {
  text-shadow: 2px 2px 2px white; }

.texto-interior2 {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.parrafo2 {
  text-align: center; }

.texto-interior3 h2 {
  text-shadow: 2px 2px 2px white; }

.texto-interior3 {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.parrafo3 {
  text-align: center; }

.texto-interior4 h2 {
  text-shadow: 2px 2px 2px black; }

.texto-interior4 {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.parrafo4 {
  text-align: center; }

.img-uno {
  background-image: url(../images/IMAGENES/sanmartin.jpg); }

.img-dos {
  background-image: url(../images/IMAGENES/italia.jpg); }

.img-tres {
  background-image: url(../images/IMAGENES/islandia.jpg); }

.img-cuatro {
  background-image: url(../images/IMAGENES/egipto.jpg); }

.texto {
  color: white;
  padding: 5%;
  width: 90%; }

.form-horizontal {
  display: block;
  width: 50%;
  margin: 0 auto; }

@font-face {
  font-family: Goth;
  src: url(../font/Blackbook.otf); }

@media (max-width: 1200px) {
  .containerg {
    display: grid;
    grid-template-areas: "carousel" "aboutimg" "about" "roadmap" "roadmapimg" "crew" "nftimg" "nft" "contact" "footer"; } }

@media (max-width: 1024px) {
  .containerg {
    display: grid;
    grid-template-areas: "carousel" "aboutimg" "about" "roadmap" "roadmapimg" "crew" "nftimg" "nft" "contact" "footer"; } }

@media (max-width: 768px) {
  .containerg {
    display: grid;
    grid-template-areas: "carousel" "aboutimg" "about" "roadmap" "roadmapimg" "crew" "nftimg" "nft" "contact" "footer"; } }

@media (max-width: 368px) {
  .containerg {
    margin-top: 91px;
    display: grid;
    grid-template-areas: "carousel" "aboutimg" "about" "roadmap" "roadmapimg" "crew" "nftimg" "nft" "contact" "footer"; } }
