/* *{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
} */

html{
    font-size: 62.5%;
}

/* .contenedor{
    background-color: black;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 2fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
} */

/*---HEADER---*/

header{
    /* grid-area: "header"; */
    background-color: black;
}

header img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 150px;
    height: 150px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

nav a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-inline: 10px;
    color: white;
}

/*---MAIN---*/

main {
    /* grid-area: "main"; */
    background-image: url(../images/IMAGENES/IMG_5881.JPG);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.roadmap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*---PARALLAX---*/

div .main{
    background-color: black;
}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.texto-interior1 h2{
	text-shadow: 2px 2px 2px black;
}

.texto-interior1{
    background-color: transparent;
	color: red;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.parrafo1 {
    text-align: center;
}

.texto-interior2 h2{
	text-shadow: 2px 2px 2px white;
}

.texto-interior2{
    background-color: transparent;
	color: black;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.parrafo2{
    text-align: center;
}

.texto-interior3 h2{
	text-shadow: 2px 2px 2px white;
}

.texto-interior3{
    background-color: transparent;
	color: black;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.parrafo3{
    text-align: center;
}

.texto-interior4 h2{
	text-shadow: 2px 2px 2px black;
}

.texto-interior4{
    background-color: transparent;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}

.parrafo4{
    text-align: center;
}
	
.img-uno{background-image: url(../images/IMAGENES/sanmartin.jpg)}

.img-dos{background-image:url(../images/IMAGENES/italia.jpg)}

.img-tres{background-image:url(../images/IMAGENES/islandia.jpg)}

.img-cuatro{background-image: url(../images/IMAGENES/egipto.jpg)}


.texto{
    color: white;
	padding:5%;
	width: 90%
}

/*---FORM---*/


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form h1{
    background-color: white;
}

.form legend{
    background-color: white;
}

.form label{
    background-color: white;
}

.form input{
    width: 90%;
    height: 30px;
}

.form button{
    border: none;
    background: rgb(255, 0, 0)
}

/*---FOOTER---*/

footer {
    /* grid-area: "footer"; */
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}

/*---MEDIAQUERIES---*/

/* @media (max-width: 480px){
    .contenedor{
        grid-template-areas:
                        "header"
                        "main"
                        "footer";
    }
}

@media (max-width: 360px){
    .contenedor{
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
} */