.footercem{
    color: white;
    text-align: right;
    background-image: url(../images/IMAGENES/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footerg {
    background-image: linear-gradient(black, white);
    color: black;
    text-align: right;
}

.footerpx{
    background-image: linear-gradient(black, white);
    color: black;
    text-align: right;
}