.headerg{
    background-image: linear-gradient(white, black);
}

.headerpx{
    background-image: linear-gradient(white, black);
}

header img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}