*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin imagenes{
    width: 100;
}

$titulos: (
    cem: rgb(255, 0, 0),
    roadmap: rgb(0, 0, 0),
);

.informacion{
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.subtitulo{
  font-family: Goth;
  font-size: 48px;
  text-align: center;
}

.fondo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/IMAGENES/fondo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerg {  margin-top: 91px;
    display: grid;
    grid-template-areas:
      "carousel carousel"
      "aboutimg about"
      "roadmap roadmapimg"
      "crew crew"
      "nftimg nft"
      "contact contact"
      "footer footer";
  }
  
h2{
  @extend .subtitulo
}

.toplogo {
    width: 75px;
    height: 75px; }
    
.headernav { grid-area: headernav;
background-color: black; }

.nav-link{
    color: white;
}

  .carousel { grid-area: carousel; }
    .texto-encima {
        position: absolute;
        font-size: 48px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: map-get($titulos, cem);
        font-family: Goth;
        text-shadow: 2px 2px 2px black;
  }
  
  .aboutimg { grid-area: aboutimg; 
    img{
        @include imagenes;
    }
}
  
  .about { grid-area: about;
  @extend .informacion;
  @extend .fondo; }
  
  .roadmap { grid-area: roadmap; 
  @extend .informacion;
  @extend .fondo; }
  
  .roadmapimg { grid-area: roadmapimg;
img{
    @include imagenes;
    }
}
  
  .crew { grid-area: crew;
background-color: black;
font-size: 24px;
text-align: center; }
  
  .nftimg { grid-area: nftimg;
    img{
    @include imagenes;
        }
    }
  
  .nft { grid-area: nft;
  @extend .informacion;
  @extend .fondo; }
  
  .contact { grid-area: contact;
color: white;
background-color: black;
align-items: center; }
form{
    font-size: 24px;
}
form h1{
    text-align: center;
}
  
  .footer { grid-area: footer;
background-color: black;
color: white;
text-align: end; }
  
  

//PARALLAX//

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative; }
  
  .texto-interior1 h2 {
    text-shadow: 2px 2px 2px black; }
  
  .texto-interior1 {
    background-color: transparent;
    color: red;
    font-size: 4rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  
  .parrafo1 {
    text-align: center; }
  
  .texto-interior2 h2 {
    text-shadow: 2px 2px 2px blue; }
  
  .texto-interior2 {
    background-color: transparent;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  
  .parrafo2 {
    text-align: center; }
  
  .texto-interior3 h2 {
    text-shadow: 2px 2px 2px black; }
  
  .texto-interior3 {
    background-color: transparent;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  
  .parrafo3 {
    text-align: center; }
  
  .texto-interior4 h2 {
    text-shadow: 2px 2px 2px white; }
  
  .texto-interior4 {
    background-color: transparent;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  
  .parrafo4 {
    text-align: center; }
  
  .img-uno {
    background-image: url(../images/IMAGENES/sanmartin2.webp); }
  
  .img-dos {
    background-image: url(../images/IMAGENES/italia.jpg); }
  
  .img-tres {
    background-image: url(../images/IMAGENES/islandia.jpg); }
  
  .img-cuatro {
    background-image: url(../images/IMAGENES/egipto.jpg); }
  
  .texto {
    color: white;
    padding: 5%;
    width: 90%; }

.form-horizontal{
      display:block;
      width:50%;
      margin:0 auto;}

@font-face{
    font-family: Goth;
    src: url(../font/Blackbook.otf);
}

@media (max-width: 1559px){
  .containerg {  display: grid;
    grid-template-areas:
      "carousel"
      "aboutimg"
      "about"
      "roadmap"
      "roadmapimg"
      "crew"
      "nftimg"
      "nft"
      "contact"
      "footer";}
}

@media (max-width: 1024px){
  .containerg {  display: grid;
    grid-template-areas:
      "carousel"
      "aboutimg"
      "about"
      "roadmap"
      "roadmapimg"
      "crew"
      "nftimg"
      "nft"
      "contact"
      "footer";}
}

@media (max-width: 768px){
  .containerg {  display: grid;
    grid-template-areas:
      "carousel"
      "aboutimg"
      "about"
      "roadmap"
      "roadmapimg"
      "crew"
      "nftimg"
      "nft"
      "contact"
      "footer";}
}

@media (max-width: 368px){
  .containerg {  
    margin-top: 91px;
    display: grid;
    grid-template-areas:
      "carousel"
      "aboutimg"
      "about"
      "roadmap"
      "roadmapimg"
      "crew"
      "nftimg"
      "nft"
      "contact"
      "footer";}
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}